<div data-role="header">
    <h1 style="padding: 1em inherit">The Light Fantastic</h1>
    <a href="#timers" class="ui-btn-right ui-btn  ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-audio" id="timer-btn" data-role="button">Timers</a>
</div>
<div>
    <h1 style="margin-top:0">Bedroom Light</h1>
    <div style="margin: 1em" id="light-buttons">
        <button value="0">Off</button><br/>
        <button value="3">Low</button><br/>
        <button value="5">Med</button><br/>
        <button value="9">High</button><br/>
    </div>

    <form>
        <label for="slider"></label>
            <input type="range" name="slider" id="light-slider" min="0" max="9" data-highlight="true" >
    </form>
</div>