<div data-role="header">
    <a href="#/" class="ui-btn-left ui-btn ui-btn-inline  ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back</a>
    <h1 style="padding: 1em inherit">Timers</h1>

    <a  class="ui-btn-right ui-btn ui-btn-inline  ui-corner-all ui-btn-icon-left ui-icon-plus" id="add-timer">Add</a>
</div>



<table class="full-width" ><tr>
        <td><h1 class="inline">Timers</h1></td>
    <td style="text-align:right">
        <select id="global-enabled" name="global-enabled" data-role="slider">
            <option value="off">Off</option>
            <option value="on">On</option>
        </select>
    </td>
</tr></table>

<div id="timers-list">

</div>